.fav-movie {
    margin-bottom: 15px;
    
    figure {
        position: relative;
       
        width: 100%;
        margin: auto;
        img {
            display: block;
            height: 400px;
            width: 100%;
            object-fit: cover;
            margin: auto;
            
        }
        figcaption {
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 10px;
        }
    }
    button.btn {
        display: block;
        margin: auto;
    }
}

.card {
    margin-bottom: 15px;
}